
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 252 96% 98%;
    --foreground: 240 10% 14%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 14%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 14%;

    --primary: 256 80% 75%;
    --primary-foreground: 0 0% 100%;

    --secondary: 262 31% 54%;
    --secondary-foreground: 0 0% 100%;

    --muted: 252 14% 95%;
    --muted-foreground: 240 4% 56%;

    --accent: 196 75% 49%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 256 80% 75%;

    --radius: 0.5rem;

    --sidebar-background: 256 80% 75%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 262 31% 54%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 256 80% 85%;
    --sidebar-accent-foreground: 240 10% 14%;
    --sidebar-border: 256 80% 65%;
    --sidebar-ring: 196 75% 49%;
  }

  .dark {
    --background: 240 10% 14%;
    --foreground: 0 0% 98%;

    --card: 240 10% 18%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 18%;
    --popover-foreground: 0 0% 98%;

    --primary: 256 80% 75%;
    --primary-foreground: 0 0% 98%;

    --secondary: 262 31% 54%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 6% 25%;
    --muted-foreground: 240 5% 65%;

    --accent: 196 75% 49%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5% 26%;
    --input: 240 5% 26%;
    --ring: 256 80% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
